
<!DOCTYPE html>
<html Lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="静岡を拠点とした劇団甍丿波座の公式サイト" />
<meta name="keywords" content="演劇、静岡、石村勇二、役者、劇団、朗読、朗演、一人芝居、井上ひさし" />

<title>劇団甍丿波座</title>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css.map" media="all" /> 
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" media="all" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="./js/bootstrap.min.js" media="all" />
<link rel="stylesheet" type="text/css" href="./css/luminous-basic.min.css" media="all" /> 
<link rel="stylesheet" type="text/css" href="./css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="./css/style-sp.css" media="all" />
<link rel="shortcut icon" href="/assets/images/iraka.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/assets/images/irakalogo.png" sizes="180x180" />
<link rel="icon" type="image/png" href="/assets/images/irakalogo.png" sizes="192x192" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>


</head>
<body>
	<header>
	<div class="container">
	<small class="caption"></small>
	<nav class="pc_sw">
		<div class="logo">
			<a href="index.html.erb">
					<h1><%= link_to image_tag("irakalogo.png", class:"logo img"), "/" %></h1></a>
		</div>
		</nav>
		<nav class="sp_sw">
		<div class="logo">
			 <a href="index.html.erb">
					<h1><%= link_to image_tag("irakalogo.png", class:"logo img"), "/" %></h1></a>
		</div>
		</nav>
		<div class="title-box"> 
		 
		 <b>甍丿波座</b>
		</div> 
		<div class="logo-text">
			<p>Yuji Ishimura Company  Irakanonamiza Since 2019 </p>
		</div>
		<nav class="pc_sw">
			<ul>
				<li><a href="#about_us" id="nav_about">甍丿波座<br><span class="nav-eg">ABOUT US</span></a></li>
				<li><a href="#stage" id="nav_stage">公演情報<br><span class="nav-eg">STAGE</span></a></li>
				<li><a href="#member" id="nav_member">劇団員<br><span class="nav-eg">MEMBER</span></a></li>
				<li><a href="#library" id="nav_library">公演記録<br><span class="nav-eg">LIBRARY</span></a></li>
				<li><a href="#contact" id="nav_contact">お問合せ<br><span class="nav-eg">CONTACT</span></a></li>
			</ul>
		</nav>

 <div class="container">
   <nav class="sp_sw oh">
				<ul>
					<li><a href="#about_us" id="nav_about">甍丿波座<br><span class="nav-eg">ABOUT US</span></a></li>
					<li><a href="#stage_info" id="nav_stage">公演情報<br><span class="nav-eg">STAGE</span></a></li>
					<li><a href="#member" id="nav_member">劇団員<br><span class="nav-eg">MEMBER</span></a></li>
				</ul>
				<ul>
					<li><a href="#library" id="nav_library">公演記録<br><span class="nav-eg">LIBRARY</span></a></li>
					<li><a href="#contact" id="nav_contact">お問合せ<br><span class="nav-eg">CONTACT</span></a></li>
				</ul>
			</nav>
			</div>
			</div>
			</header>
		<div class="container">
	<div class="index_area">
		<div class="key">
			
		<div class="key-text">
		<p id="about_us"><h2>"甍"<br></h2><p>（読み）イラカ</p><br>屋根瓦。また、瓦葺きの屋根。「甍の波」（中略）
     <br>※唱歌・鯉のぼり（文部省唱歌）（1913）<br>「甍(イラカ)の波と雲の波、重なる波の中空を」<br><font size="2px">※精選版 日本国語大辞典の解説より</font></p>
					 <p id="about_us">甍丿波座は朗読と演劇を融合させた「郎演」を中心とした活動を行う石村勇二が立ち上げた劇団です</p>
		</div>

		<div class="what_is"><h2>甍丿波座とは<br><span class="nav-eg">WHAT'S "IRAKANONAMIZA"?</span></h2>
		</div>
		<div class= text>
		<p>甍丿波座は朗読と演劇を融合させた「郎演」を中心とした活動を行う、2019年から石村勇二が立ち上げた個人劇団です。
		<br>唯一無二の演劇を追求し、朗読、落語、講談、一人芝居等、多方からの要素を取り入れた、新しい芝居を表現する劇団となっています。
		<br>甍の波間の風景があなたにも見える様な芝居を演じたいと、願いながら日々活動を行っております。
		</p>
		</div>
			
    
			<div class="what_is"><h2>朗演とは<br><span class="nav-eg">WHAT'S "ROUEN"?</span></h2>
		</div>
		<div class= text>
		<p>朗演とは「演劇を観るように楽しんでもらえる朗読を」と演出家の佐野暁が1986年に「朗演エトピリカ」として発足し活動を開始しました。
		<br>本を持って語る「朗読」からセリフの様に語る「一人芝居」までの間を、読む本・演者・演出によって作品ごとに決めていきます。
		<br>プラス照明・音楽・音響効果や古民家・喫茶店・ホールなどの表現空間も工夫し、幅広い活動をしています。
		</p>
		</div>
    

	<% if @tickets[0] != nil %> 
    <nav class="pc_sw">
     <div class="what_is">
      <h2 id="stage">公演情報<br><span class="nav-eg">NEXT STAGE</span></h2>
      </div>
			<% @tickets.each do |ticket| %> 
      <div class="press-top_area">
    
       <div class="press-left_area_pc">
       <div class="press-left_area img">
         
         
         <% if ticket.images.attached? %>
				 <%= link_to ticket.images, 'data-lightbox': ticket.images do%>  
         <%= image_tag ticket.images %>
         <% end %>
				 <% end %>
       </div>
		   </div>

        <div class="press-right_area"> 
        <div class="press-right_area_text">      
        <div class='ticket-info'>
          <h3 class='program'>
            <%= simple_format(ticket.program) %>
          </h3>
          <div class='ticket-text'>
          <%= simple_format(ticket.text)%>
					</div>
					<%# <div class='ticket-venue'>
          <%= ticket.venue %>
					<%# </div>
					<div class='ticket-date'>
          <%= ticket.date %>
					<%# </div>
					<div class='ticket-time'>
          <%= ticket.time %>
					<%# </div>
          <div class='ticket-item-price'>
          <%= ticket.price円
          </div>
					<div class='ticket-remaining'> 
          <%# 限定<%= ticket.remaining 席%> 
        <%# </div> %> 
				</div>
        </div>
        </div>
				</div>
				</a>
      
       <%end%>
    <% end %> 
    </nav> 

	

	<% if @tickets[0] != nil %> 
    <nav class="sp_sw">
     <div class="what_is">
      <h2 id="stage">公演情報<br><span class="nav-eg">NEXT STAGE</span></h2>
      </div>
			<% @tickets.each do |ticket| %> 
      <div class="press-top_area">
    
    <div class="press-left_area_sp">
        <div class="press-left_area_sp img">
         
         
         <% if ticket.images.attached? %>
				 <%= link_to ticket.image, 'data-lightbox': ticket.image do%>  
         <%= image_tag ticket.image %> 
         <%end%>
				 <% end %>
      </div>
		</div>

        <a href=""><div class="press-right_area_sp"> 
        <div class="press-right_area_text_sp">      
        <div class='ticket-info'>
          <h3 class='program'>
            <%= simple_format(ticket.program) %>
          </h3>
        <div class='ticket-text'>
          <%= simple_format(ticket.text)%>
					</div>
					<%# <div class='ticket-venue'>
          <%= ticket.venue %>
					<%# </div>
					<div class='ticket-date'>
          <%= ticket.date %>
					<%# </div>
					<div class='ticket-time'>
          <%= ticket.time %>
					<%# </div>
          <div class='ticket-item-price'>
          <%= ticket.price円
          <%# </div>
					<div class='ticket-remaining'> 
          <%# 限定<%= ticket.remaining %>
        <%# </div> %>
				</div>
        </div>
        </div>
				</div>
        </a>
      
       <%end%>
    <% end %> 
    </nav> 

		 <div style="text-align:center;"> 
		 <a class="twitter-timeline" data-width="600" data-height="850" data-theme="light" href="https://twitter.com/irakanonamiza?ref_src=twsrc%5Etfw">Tweets by irakanonamiza</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
		 <a href="https://twitter.com/irakanonamiza?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @irakanonamiza</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		
			<div class="what_is"><h2 id="member">劇団員<br><span class="nav-eg">MEMBER</span></h2>
			</div>
		<div class="pic-member">
		<ul class="member-list">
          <li>
            <a href=""><%= link_to image_tag("yuji2.jpg", class:"pic-member img "), "/" %></a>
						   
            <h4 class="member-name">座長　石村勇二</h4>
						<div class="member-info">
<p>1955年生　静岡市出身　藤枝市在住</p>　
<p>大里中学校3年生の秋「三国一の花嫁」に出演し演劇の魅力に憑りつかれる。
<br>静岡学園在学中は受験勉強そっちのけで演劇三昧。見事に大学受験失敗。
<br>予備校へも行かず就職もせず、演出家佐野暁氏の劇団に所属し静岡、東京の公演に参加する。
<br>その後上京し東映俳優養成所、夢の遊眠社で役者として生計を立てようとするも挫折。
<br>静岡に戻り会社勤めをしながらしずおか演劇祭・静岡市こどもミュージカルなどで多くの舞台に立つ。
<br>2017年よりエトピリカに参加し「朗演」を始める。</p>
<div class= stage-history>
<pre><h2 id="library">朗演　公演記録</h2>
<p>2017年9月　　「質草」井上ひさし作</p>
<p>2018年9月　　「唐来参和」井上ひさし作</p>
<p>2019年3月　　「唐来参和」</p>
<p>      9月　 「金壺親父恋達引」井上ひさし作</p>
<p>     10月 　「質草」</p>
<p>     11月 　「質草」</p>
<p>2021年2月　　「質草」</p>
<p>      3月 　「タイムスリップ！1964 結婚します！」</p>
<p>        　　「セロ弾きのゴーシュ」</p>
</pre>
</div>
</div>
      </li>
		  </ul>
				</div>

				<div class= video >
				<iframe width="560" height="315" src="https://www.youtube.com/embed/TxEVSLBe9wc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<a href ="https://shingo-ishimura.hatenablog.com/?_ga=2.148781431.1956949915.1614901177-1167896894.1608184715" class ="blog" target="_blank">甍丿波座　座長ブログ(作成中のため、現在は開発者ブログへ移動します)</a>
	<%# 　<div class="what_is"><h2 align="center">関係各団体<br><span class="nav-eg">SPECIAL THANKS</span></h2>
			</div>
			<div class="container">
				<div class="bunner">
					<div class="row">
						<div class="box col-xs-12 col-sm-12 col-md-4 col-lg-4 bunner-img"> 
							<a href="https://uruken03.hatenadiary.org/"target="_blank"><img src="/assets/uruken.png" ></a>
						</div>
						<div class="box col-xs-12 col-sm-12 col-md-4 col-lg-4 bunner-img"> 
							<a href="http://sarutobisan.jugem.jp/"target="_blank"><img src="/assets/sarutobi.png" ></a>
						</div> %>
					　　<!--div class="bunner">
						<div class="box col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<a href="リンク先のURL"><img src="./img/interface/bunner-phot.jpg"></a>
						</div-->
					</div>
				</div>
			</div>
			</div>
</div>
<footer class="cb">
	<div class="footer-top">
		<div class="container">
			<div class="logo-footer_area">
						<h1><%= link_to(new_ticket_path) do %> 
      <%= image_tag 'irakalogo_footer.png'%>

      <%end%></h1>

				 	</div>
			<div class="footer_adress">
				<small>&copy; 2021 Irakanonamiza. All Rights Reserved.</small><br>
				<small id="contact">予約・お問い合わせ　石村勇二<br>080-3622-7003<br>tak02ismr@gmail.com</small>
			</div>
			 
	</div> 
</footer>
<link rel="stylesheet" type="text/css" href="./js/luminous.min.js" media="all" />
<script type="text/javascript">
var luminousTrigger = document.querySelector('.luminous');
if( luminousTrigger !== null ) {
  new Luminous(luminousTrigger);
}
</script>
<script type="text/javascript">
jQuery( function($) {
		$('tbody tr[data-href]').addClass('clickable').click( function() {
			window.location = $(this).attr('data-href');
		}).find('a').hover( function() {
			$(this).parents('tr').unbind('click');
		}, function() {
			$(this).parents('tr').click( function() {
				window.location = $(this).attr('data-href');
			});
		});
	});
</script>
</body>
</html>
<!--Copyright (c) 2021 Shingo Ishimura
Released under the MIT license
https://opensource.org/licenses/mit-license.php-->
