<html
><div class="container">
 <body>
  <div class="ticket-sell-main">
    <h2 class="ticket-sell-title">公演の情報を入力</h2>
    <p>　</p>
    <%= form_with model: @ticket ,local: true do |f| %>

     <%= render 'shared/error_messages', model:  f.object %> 

   <div class="img-upload-program">
     <div class="img-upload-program-left">
       <div class="image-uplord-text">
        チラシ画像
        <span class="indispensable">必須</span>
       </div>
       <div class="click-upload">
        <%= f.file_field :image, id:"ticket-image" %>
       </div>
      </div>

      <div class="img-upload-program-left">
       <div class="image-previw" id="image-list">
       </div>
     </div>
    </div>

      <div class="new-ticket">
        <div class="weight-bold-text">
         公演名
         <span class="program">必須</span>
        </div>
       <%= f.text_area :program, class:"ticket-text", id:"ticket-name", placeholder:"公演名（必須 45文字まで)※スペースや改行を表示に反映できますので活用して下さい", size: "28x3",maxlength:"45" %>
     </div>

      

      <div class="tickets-explain">
        <div class="weight-bold-text">
          公演情報他
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"公演の説明（252文字まで）

【例】2021 冬　公演予定　石村勇二独演会　

作：　井上ひさし

演出：　佐野　暁

場所：　スタジオさるとび

[出演]
石村勇二

新型コロナウィルスによる感染対策の為、
現在開催を延期しております。
開催決定次第お伝えいたします。
その他最新情報は公式twitterをご確認下さい　
※スペースや改行を表示に反映できますので活用して下さい" ,size: "55x10",maxlength:"252" %>
      </div>

      <%# <div class="weight-bold-text">
          <span>場所</span>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :venue, class:"venue-input", id:"ticket-venue", placeholder:"例）スタジオさるとび" %>

      <%# <div class="weight-bold-text">
          <span>日付</span>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :date, class:"date-input", id:"ticket-date", placeholder:"例）2022年10月29" %>
          

        <%# <div class="weight-bold-text">
         <span>時間</span>
            <span class="indispensable">必須</span>
            </div>
          <%= f.text_field :time, class:"time-input", id:"ticket-time", placeholder:"例）13:00開場　14:00開演" %>
           

        <%# <div class="weight-bold-text">
          <span>販売チケット枚数</span>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :remaining, class:"remaining-input", id:"remaining", placeholder:"例）限定50枚" %>
       

      <%# <div class="weight-bold-text question-text">
        <span>チケット販売価格<br>(¥300〜9,999,999)</span>
      </div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        <%# </div>  %>
        <p>　</p>
    <div class="sell-btn-contents">
      <%= f.submit "公演を登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <% end %>
  </div>

  <% if @tickets[0] != nil %> 
    <nav class="pc_sw">
     <div class="what_is">
      <h2 id="stage_info">現在登録中の公演情報<br><span class="nav-eg">各公演の下部に削除ボタンがありますので、不要になった公演情報は削除して下さい。</span></h2>
      </div>
			<% @tickets.each do |ticket| %> 
      <div class="press-top_area">
    
       <div class="press-left_area_pc">
       <div class="press-left_area img">
       <%= link_to image_tag(ticket.image, class: "ticket-img"), ticket_path(ticket.id),method: :get  %>
      
         
         
         
       </div>
		   </div>

        <div class="press-right_area"> 
        <div class="press-right_area_text">      
        <div class='ticket-info'>
          <h3 class='program'>
            <%= link_to simple_format(ticket.program), ticket_path(ticket.id),method: :get %>
          </h3>
          <div class='ticket-text'>
          <%= link_to simple_format(ticket.text), ticket_path(ticket.id),method: :get %>
					</div>
					<%# <div class='ticket-venue'>
          <%= ticket.venue %>
					<%# </div>
					<div class='ticket-date'>
          <%= ticket.date %>
					<%# </div>
					<div class='ticket-time'>
          <%= ticket.time %>
					<%# </div>
          <div class='ticket-item-price'>
          <%= ticket.price円
          </div>
					<div class='ticket-remaining'> 
          <%# 限定<%= ticket.remaining 席%> 
        <%# </div> %> 
				</div>
        </div>
        </div>
				</div>
				</a>
      <div class="sell-btn-contents">
      <%= link_to '削除', ticket_path(ticket.id), method: :delete, class:"ticket-destroy" %>
      </div>
       <%end%>
    <% end %> 
    </nav> 

	

	<% if @tickets[0] != nil %> 
    <nav class="sp_sw">
     <div class="what_is">
      <h2 id="stage_info">現在登録中の公演情報一覧<br><span class="nav-eg">編集したい公演の画像、または文章をクリックして下さい</span></h2>
      </div>
			<% @tickets.each do |ticket| %> 
      <div class="press-top_area">
    
    <div class="press-left_area_sp">
        <div class="press-left_area_sp img">
				 <%= link_to image_tag(ticket.image, class: "ticket-img"), ticket_path(ticket.id),method: :get  %>
      </div>
		</div>

        <a href=""><div class="press-right_area_sp"> 
        <div class="press-right_area_text_sp">      
        <div class='ticket-info'>
          <h3 class='program'>
            <%= link_to simple_format(ticket.program), ticket_path(ticket.id),method: :get %>
          </h3>
          <div class='ticket-text'>
          <%= link_to simple_format(ticket.text), ticket_path(ticket.id),method: :get %>
					</div>
					<%# <div class='ticket-venue'>
          <%= ticket.venue %>
					<%# </div>
					<div class='ticket-date'>
          <%= ticket.date %>
					<%# </div>
					<div class='ticket-time'>
          <%= ticket.time %>
					<%# </div>
          <div class='ticket-item-price'>
          <%= ticket.price円
          <%# </div>
					<div class='ticket-remaining'> 
          <%# 限定<%= ticket.remaining %>
        <%# </div> %>
				</div>
        </div>
        </div>
				</div>
        </a>
      <%# <div class="sell-btn-contents"> %>
      <%# <%= f.submit "変更する" ,class:"sell-btn" %>
      <div class="sell-btn-contents">
      <%= link_to '削除', ticket_path(ticket.id), method: :delete, class:"ticket-destroy" %>
      </div>
       <%end%>
    <% end %> 
    </nav> 
  <footer class="items-sell-footer">
    <p class="inc">
      ©︎Iraskanonamiza,Inc.
    </p>
  </footer>
</div>
</body>
</html>